<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1> {{ title }}</h1>
        <div class="message" v-if="message">
            <p>{{ message }}</p>
        </div>
        <!-- add note -->
        <div class="new-note">
            <input v-model="note.title" type="text">
            <textarea v-model="note.descr" ></textarea>
            <button @click="addNote">Add New Note</button>
        </div>
        
        <!-- note list  -->
        <div class="notes">
            <div class="note" v-for="(note, index) in notes" :key="index" >
                <div class="note-header">
                    <p>{{ note.title }}</p>
                </div>
                <div class="note-body">
                    <p>{{ note.descr }}</p>
					<p>not important </p>
                    <span> {{ note.date }}</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                title: 'Notes App',
                message: null,
                note: {
                    title: '',
                    descr: ''
                },
                notes: [
                {
                    title: '1-st Note', 
                    descr: 'This is very first note',
                    date: new Date(Date.now()).toLocaleString()
                },
                {
                    title: '2-st Note', 
                    descr: 'This is very second note',
                    date: new Date(Date.now()).toLocaleString()
                },
                {
                    title: '3-st Note', 
                    descr: 'This is very third note',
                    date: new Date(Date.now()).toLocaleString()
                }
                ]
            },
            methods: {
                addNote() {
                    // console.log(this.note)
                    let {title, descr} = this.note
                    if (title === '') {
                        this.message = 'title cant be blank.'
                        return false
                    }
                    this.notes.push({
                        title,
                        descr,
                        date: new Date(Date.now()).toLocaleString()
                    })
                    this.message = null
                    this.note.title = ''
                    this.note.descr = ''
                   
                }
            },
        })
    </script>
</body>
</html>